
<form #appFinancialData="ngForm">
<div class="row form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Enter PAN" name="panNumber" ngModel>
    </div>
    </div>
<div class="row form-group">
    <div class="col-md-6">
        <!-- <input type="text" class="form-control" placeholder="Enter Full Name"> -->
        <label class="ml-1">Is Salaried?</label>
        <div>
            <input type="radio" name="isSalaried" value="Yes" ngModel > Yes
            <input type="radio" name="isSalaried" value="No" ngModel> No

        </div>
    </div>
</div>

<div class="row form-group">
    <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Enter Monthly Salary" name="monthlySalary" ngModel>
    </div>
</div>
    
<div class="row form-group">
    <div class="col-md-6">
        <button class="btn btn-primary" (click)="submitApplication(appFinancialData)">Submit Application</button>

    </div>
</div>
            
</form>